extends layout 

block content 
    h1= title
    h2 Total Weapons: #{totalWeapons}, Total Parts: #{totalParts}

    div
        p.warning Are you sure you want to delete this corporation? All weapons 
        |and parts belonging to them will also be deleted
    form(method="post") 
        input(type='hidden', name='corpid', value=corp._id )
        button(type="submit") Yes
