extends layout 

block content 
    h1= title

    form(method="post") 
        label(for="corp_name") Corporation Name: 
        input#corp_name(type="text", name="corp_name", value=initialName) 
        button(type="submit") Save Changes

    if errors
        ul
            for error in errors
                li!= error.msg
