extends layout 

block content 
    div(class="header-solid")
        h1= title 
    if corporations.length 
        ul(class="ul-container")  
            each corp in corporations 
                li(class="content-link")
                    a(href=corp.url) #{corp.name} 