extends layout 

block content 
    h1= title 
    if corporations.length 
        ul 
            each corp in corporations 
                li(class="content-link")
                    a(href=corp.url) #{corp.name} 