extends layout 

block content
    div(class="header-solid")
        h1= title

    form(method="post") 
        div(class="form-row")
            label(for="corp_name", class="form-label") Corporation Name 
            input#corp_name(type="text", name="corp_name", class="form-input text-input") 
        button(type="submit", class="submit-btn") Save Corporation

    if errors
        ul
            for error in errors
                li!= error.msg
