extends layout 

block content 
    h1= title

    if filteredParts.length
        h2= subtitle
        ul
            each part in filteredParts
                li 
                    a(href=part.url) #{part.name} 
        
