extends layout 

block content 
    h1= title

    if filteredWeapons.length
        h2= subtitle
        ul
            each weapon in filteredWeapons
                li 
                    a(href=weapon.url) #{weapon.name} 
        
