extends layout 

block content 
    div(class="header-solid")
        h1= title

    if weaponsArr.length    
        ul(class="ul-container") 
            each weapon in weaponsArr
                li(class="content-link") 
                    a(href=weapon.url) #{weapon.name} 
        
