extends layout 

block content 
    h1= title

    if weaponsArr.length    
        ul 
            each weapon in weaponsArr
                li(class="content-links") 
                    a(href=weapon.url) #{weapon.name} 
        
